{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">  
        <title>Function Form</title>
        <link rel="icon" type="image/x-icon">
        <link rel="stylesheet" href="{% static "style.css" %}">
    </head>
    <body class="Fonted Pretty">
        <a href="{% url "home" %}"><button class="Home_Button">Main Home Page</button></a>
        <a href="{% url "hub" %}"><button class="Hub_Button">Function Home Page</button></a>
        
        {% block content %}{% endblock content %}
    </body>
</html>